*{
    margin: 0;
    padding: 0;
    text-align:center;
}

h1{
    background-color: #081b31;
    color: #ffff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #308cf6;
}

img{
    height: 150px;
    width: 150px;
    object-fit:  contain;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem;
    gap: 5rem;
}

#user-score,
#system-score{
    font-size: 2rem;
}


.msg-container{
    margin-top: 5rem;
}


#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;;

}